/* Card design */
.wrapper-grey {
  background-color: $gray-lighter;
  padding: 60px 20px 80px 20px;
  margin-top: 100px;
}

.title {
  padding-bottom: 40px;
  color: $gray-dark;
  font-weight: bolder;
}

.card {
  color: white;
  position: relative;
  height: 250px;
  width: 100%;
  border-radius: 5px;
  filter: brightness(0.9);
  h2 {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: lighter;
    font-size: 20px;
  }
  &:hover {
    filter: brightness(1);
    cursor: pointer;
  }
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  h3 {
    font-weight: bold;
  }
}

.card-avatar {
  position: absolute;
  right: 10px;
  top: 10px;
}
