/* Card design */
.wrapper-grey {
  background-color: $gray-lighter;
  padding: 60px 20px 80px 20px;
  margin-top: 100px;
}

.title {
  padding-bottom: 40px;
  color: $gray-dark;
  font-weight: bolder;
}

.card {
  color: white;
  position: relative;
  height: 250px;
  width: 100%;
  border-radius: 5px;
  filter: brightness(0.9);
  margin-bottom: 25px;
  &:hover {
    filter: brightness(1);
  }
}

.card-category {
  position: absolute;
  top: 5px;
  left: 10px;
  font-weight: lighter;
  font-size: 18px;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  h3 {
    font-weight: bold;
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}

.card-avatar {
  position: absolute;
  right: 10px;
  top: 10px;
}

.header-flat {
  padding: 30px 0 30px;
}

.header-flat-name h3 {
  font-size: 18px;
}
