.features {
  margin-top: 80px;
  margin-bottom: 150px;
}

.feature img {
  width: 100px;
  margin: 10px 0 0;
}

.feature h3 {
  font-weight: bolder;
  font-size: 20px;
  margin-top: 0;
}

.feature p {
  font-size: 15px;
}
