.team h1 {
  margin: 70px 0 70px;
  font-weight: bolder;
}

.team-details h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
  &:hover {
    color: $blue;
    cursor: pointer;
  }
}

.contact {
  font-size: 30px;
  margin: 120px 0 120px;
}

#email {
  font-family: $header-font;
}
