/* Footer design */
.wrapper-dark-grey {
  background-color: $gray-dark;
  bottom: 0;
}

.footer {
  color: $gray-lighter;
  padding: 30px 0 20px 10px;
  li {
    padding: 0 10px 5px 10px;
    font-size: 30px;
    text-align: left;
    &:hover {
      color: white;
      cursor: pointer;
    }
  }
  p {
    margin-top: 8px;
  }
}


